
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left:35px">AboutUs</h1>
<div style="width:100%;height:3px; margin-top:1rem; background:black";></div>
<div class="content-container">
    <div class="image-container">
        <img src="~/Images/MaocoLogo.jpeg" alt="Açıklama" />
    </div>
    <div class="text-container">
        <h2>Who Are We ? </h2>
        <br />
        <p>Maoco.com is a pioneer in the e-commerce sector with its innovative solutions. It offers a fast and secure shopping environment to its customers through a user-friendly interface and personalized shopping experience. Leading the way in the valuation of second-hand products and promoting sustainability, Maoco.com is shaping the future of e-commerce and setting industry standards.</p>
    </div>
</div>

<br />
<br />
<br />
<h3 style="margin-left:35px">Kullanılan Fotoğraflar</h3>
<ul>
    <li>https://unsplash.com/photos/slightly-opened-silver-macbook-mP7aPSUm7aE</li>
    <li>https://unsplash.com/photos/gray-and-black-laptop-computer-on-surface-Im7lZjxeLhg</li>
    <li>https://unsplash.com/photos/macbook-pro-turned-on-beside-white-ceramic-mug-ctRgcY-lY8I</li>
    <li>https://unsplash.com/photos/iphone-screen-showing-icons-on-screen-Uae7ouMw91A</li>
    <li>https://unsplash.com/photos/person-holding-smartphone-0VGG7cqTwCo</li>
    <li>https://unsplash.com/photos/person-holding-space-gray-iphone-6-GCQaYDCQwgc</li>
    <li>https://unsplash.com/photos/black-ipad-hLgYtX0rPgw</li>
    <li>https://unsplash.com/photos/person-holding-turned-on-black-ipad-7OFnb7NOvjw</li>
    <li>https://unsplash.com/photos/person-holding-black-tablet-computer-EhbuqJYNCRk</li>
    <li>https://unsplash.com/photos/open-book-on-top-of-several-stacked-books-9DaOYUYnOls</li>
    <li>https://unsplash.com/photos/opened-book-on-table-H1IRUS1vEFA</li>
    <li>https://unsplash.com/photos/book-near-eyeglasses-and-cappuccino-nGrfKmtwv24</li>
    <li>https://unsplash.com/photos/happy-birthday-greeting-card-on-white-and-red-textile-MTNN8IfrY6Y</li>
    <li>https://unsplash.com/photos/person-in-white-shirt-sitting-beside-table-with-puzzle-game-NrS53eUKgiE</li>
    <li>https://unsplash.com/photos/brown-and-black-chess-game-set-X5goZpoIn7s</li>
    <li>https://unsplash.com/photos/assorted-color-pencil-lot-on-white-surface-yf61jhXNmYo</li>
    <li>https://unsplash.com/photos/four-assorted-color-pens-1lbmrKTx8gQ</li>
    <li>https://unsplash.com/photos/person-holding-marker-iV24JKvs9P0</li>
    <li>https://unsplash.com/photos/unknown-person-in-white-crew-neck-top-taking-selfie-outdoors-Db5C-6rq9XY</li>
    <li>https://unsplash.com/photos/man-in-black-suit-holding-black-smartphone-7yONARoUsbY</li>
    <li>https://unsplash.com/photos/man-wearing-white-top-mXu1SpzHq6w</li>
    <li>https://unsplash.com/photos/man-in-black-full-zip-jacket-standing-between-green-trees-iJVDkgWqp3U</li>
    <li>https://unsplash.com/photos/man-wearing-watch-with-black-suit-Ws4wd-vJ9M0</li>
    <li>https://unsplash.com/photos/man-leaning-against-brick-wall-Rr1Vf1W2nl0</li>
    <li>https://unsplash.com/photos/woman-in-black-blazer-and-black-pants-standing-on-road-during-daytime-dodzmVtjoKs</li>
    <li>https://unsplash.com/photos/woman-in-black-hat-and-brown-coat-standing-near-brown-leaves-tree-during-daytime-cED8oFhEeNc</li>
    <li>https://unsplash.com/photos/woman-in-red-and-white-striped-shirt-and-blue-denim-jeans-sitting-on-gray-chair-hdra4gfbznU</li>
    <li>https://unsplash.com/photos/green-sleeveless-dress-hanged-on-white-wall-VyI0GBHSsJ8</li>
    <li>https://unsplash.com/photos/woman-wearing-black-turtleneck-long-sleeved-dress-gsKdPcIyeGg</li>
    <li>https://unsplash.com/photos/black-leather-spaghetti-strap-dress-kS3YkVtf85U</li>
</ul>

<style>
    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .image-container {
        flex: 1; /* Esneklik vererek içeriklere eşit yer kaplama imkanı sağlar */
    }

        .image-container img {
            width: 100%; /* Resmi container'ına sığacak şekilde ayarla */
            height: auto; /* Resmin orijinal oranlarını koru */
        }

    .text-container {
        flex: 2; /* Yazının resimden daha fazla yer kaplamasını istiyorsanız */
        padding: 0 20px;
    }

        .text-container h2 {
            margin-top: 0;
        }
</style>

